{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<h1>Vos Projets</h1>

{% for project in projects %}
<p>{{project.description}}</p>
<p>{{project.openingDate | date('d/m/Y')}}</p>
<p>{{project.deadline | date('d/m/Y')}}</p>
<p>{{project.active?"Terminé":"En cours" }}</p>
<a href="{{ path('showProject', {id: project.id}) }}" class="btn btn-primary">Voir le projet</a>
<a href="{{ path('app_deleteProject', {id: project.id}) }}" class="btn btn-danger">Supprimer le projet</a>
<a href="{{path('app_updateProject', {id: project.id}) }}" class="btn btn-success">Mettre à jour le projet</a>
{% endfor %}
{% endblock %}
