{% extends 'base.html.twig' %}

{% block title %}Voir un Projet{% endblock %}

{% block body %}
<h1 class="text-center">Votre Projet</h1>

<div class="container-fluid">
  <div class="row">
    <div class="card mx-auto" style="width:18rem;">
      <div class="card-header bg-dark text-white text-center">
        <h3>{{project.description}}</h3>
      </div>
      <div class="card-body text-center">
        <p>Date de création : {{project.openingDate | date('d/m/Y')}}</p>
        <p>Date de deadline : {{project.deadline | date('d/m/Y')}}</p>
        <p>Statut : {{project.active?"Terminé":"En cours" }}</p>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center my-3">Vos Tâches</h1>

<div class="container-fluid">
  <div class="row">
    {% for task in project.task %}
<div class="card col-4 mx-auto my-3" style="width:18rem;">
  <div class="card-header bg-secondary text-white text-center">
    <h3>{{task.label}}</h3>
  </div>
  <div class="card-body text-center">
    <p>Date de création : {{task.registered | date('d/m/Y')}}</p>
    <p>Description : {{task.content}}</p>
    <p>Date deadline : {{task.deadline | date('d/m/Y')}}</p>
    <p>Statut :{{task.active?"Terminé":"En cours" }}</p>
  </div>
  {% if app.user == task.project.user %}
  <div class="card-footer text-center">
    <a class="btn btn-success my-2" href="{{ path('app_updateTask', {id: task.id}) }}">Modifier une tâche</a>
    <a href="{{ path('app_deleteTask', {id: task.id}) }}" class="btn btn-danger my-2">Supprimer la tâche</a>
  </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>

<div class="text-center my-2">
  {% if app.user == project.user %}
<a class="btn btn-primary" href="{{ path('app_newTask', {projectId: project.id}) }}">Créer une nouvelle tâche</a>
{% endif %}
</div>
{% endblock %}













